# IDE 配置
.idea/
.vscode/
.trae/
*.iml

# 系统文件
Thumbs.db
.DS_Store

# 运行临时文件
*.log

# 编译输出
classes/
test-classes/
*.class

# 打包产物
*.jar

prd.md

# 运行时数据
scores/

# 生成文档
doc/api/
